name: Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 6 * * *'

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          # - ubuntu-18.04
          - windows-latest
          # - macos-latest
        rclone:
          - current
          # - v1.59.2
          # - v1.58.1
          # - v1.53.3  # Debian bullseye (current stable)
          # - v1.45    # Debian buster (current oldstable)
        exclude:
          # 1.45 - has some odd handling of HOME on OSX - does not use overloaded $HOME
          - os: macos-latest
            rclone: v1.45

    steps:
    - name: Set up environment
      uses: actions/checkout@v1

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '>=3.7'

    - name: Install datalad-installer
      run: pip install datalad-installer

    - name: Install git-annex (Ubuntu)
      if: startsWith(matrix.os, 'ubuntu-')
      run: datalad-installer --sudo ok git-annex -m datalad/git-annex:release

    - name: Install git-annex (macOS)
      if: startsWith(matrix.os, 'macos-')
      run: datalad-installer git-annex -m brew

    - name: Set up MSYS2 (Windows)
      if: startsWith(matrix.os, 'windows-')
      uses: msys2/setup-msys2@v2
    
    - name: Install git-annex (Windows)
      if: startsWith(matrix.os, 'windows-')
      run: datalad-installer --sudo ok git-annex

    - name: Install latest rclone
      if: matrix.rclone == 'current'
      run: datalad-installer --sudo ok rclone --bin-dir "C:\Program Files\Git\usr\bin" -m downloads.rclone.org

    - name: Install specific version of rclone
      if: matrix.rclone != 'current'
      run: datalad-installer --sudo ok rclone=${{ matrix.rclone }} -m downloads.rclone.org

    - name: ${{ matrix.module }} tests
      shell: bash
      run: |
        PATH=${PWD}:${PWD}/tests:${PATH} all-in-one.sh
        # Test without encryption so we do get 0-sized files in rclone remote store
        PATH=${PWD}:${PWD}/tests:${PATH} GARR_TEST_ENCRYPTION=none all-in-one.sh
